[project]
name = "python-template"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
requires-python = ">=3.11"
dependencies = [
    "aiohttp>=3.13.2",
    "apscheduler>=3.11.1",
    "flask>=3.1.2",
    "groq>=0.36.0",
    "python-telegram-bot>=22.5",
]
